javascript:(async () => {
  const title = document.title;
  const url = location.href;
  const rawResponse = await fetch('{{{domain}}}/add', {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({title: title, url: url, secret: '{{{secret}}}'})
  });
  const content = await rawResponse.text();
  console.log(`Reply from {{{domain}}}/add: ${content}`);
  if(content === "OK") {
    alert("Site saved successfully.");
  } else {
    alert(`Something went wrong: ${content}`);
  }
})();
