<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1 class="title">{{title}}</h1>
    {{#context}}
      <div class="link">
        <h3><a href="{{1}}">{{2}}</a></h3>
        <span class="meta">
          <span class="url">From: {{4}}</span>
          <time class="time">Read: {{3}}</time>
        </span>
      </div>
    {{/context}}
  </body>
</html>
